# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/user/application_security/sast/#available-cicd-variables
# Secret Detection customization: https://docs.gitlab.com/user/application_security/secret_detection/pipeline/configure/
# Dependency Scanning customization: https://docs.gitlab.com/user/application_security/dependency_scanning/#customizing-analyzer-behavior
# Container Scanning customization: https://docs.gitlab.com/user/application_security/container_scanning/#customizing-analyzer-behavior
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ci/variables/#cicd-variable-precedence
stages:
- approve
- test
- post
approve1:
  stage: approve
  script:
  - echo "Approved..."
  rules:
  - if: $CI_PROJECT_PATH != "csonto/lvm2" && $CI_PROJECT_PATH != "lvmteam/lvm2"
    when: manual
  - if: $CI_COMMIT_BRANCH != "main" && $CI_COMMIT_BRANCH !~ "^rhel.*"
    when: manual
  - when: on_success
  allow_failure: false
pages:
  image: elecnix/ikiwiki
  stage: test
  script:
  - ikiwiki --setup ikiwiki.setup --libdir themes/ikistrap/lib
  artifacts:
    paths:
    - public
  only:
    refs:
    - main
    changes:
    - doc/**/*
    - ikiwiki.setup
test-job:
  stage: test
  parallel:
    matrix:
    - TAG: rhel8
      CONFIGURE: "--with-default-use-devices-file=0 --with-cluster=internal --enable-cmirrord\n"
    - TAG: rhel9
      CONFIGURE: "--with-default-use-devices-file=1 --enable-app-machineid --enable-editline
        --disable-readline\n"
  artifacts:
    paths:
    - test/results/
    expire_in: 1 week
    when: always
  tags:
  - "${TAG}"
  timeout: 2h
  script:
  - "./configure ${CONFIGURE} --enable-fsadm --enable-write_install --enable-pkgconfig
    --enable-cmdlib --enable-dmeventd --enable-blkid_wiping --enable-udev_sync --with-thin=internal
    --with-cache=internal --enable-lvmpolld --enable-lvmlockd-dlm --enable-lvmlockd-dlmcontrol
    --enable-lvmlockd-sanlock --enable-dbus-service --enable-notify-dbus --enable-dmfilemapd
    --with-vdo-format=/usr/bin/vdoformat --disable-silent-rules\n"
  - make
  - rm -rf test/results
  - mkdir -p /dev/shm/lvm2-test
  - mount -o remount,dev /dev/shm
  - VERBOSE=0 BATCH=1 LVM_TEST_DIR=/dev/shm/lvm2-test make check || true
  - rm -rf /dev/shm/lvm2-test
  - cut -d' ' -f2 test/results/list | sort | uniq -c
  - "(cd test/results && rm $(grep 'passed$' list | cut -d' ' -f1 | sed -e 's|/|_|g'
    -e 's|.*|\\0.txt|'))"
  - find test/results -type f -empty -delete
  - if grep failed test/results/list | grep -v '\(dbustest\|lvconvert-mirror\|lvconvert-raid-reshape-size\|lvconvert-raid-reshape-stripes-load-fail\)\.sh'
    | sort; then false; else true; fi
  rules:
  - if: $CI_PROJECT_PATH != "csonto/lvm2" && $CI_PROJECT_PATH != "lvmteam/lvm2"
    when: manual
  - when: on_success
reboot:
  stage: post
  parallel:
    matrix:
    - TAG: rhel8
    - TAG: rhel9
  tags:
  - "${TAG}"
  timeout: 1m
  script:
  - reboot
  allow_failure: true
  when: always
sast:
  stage: test
include:
- template: Security/SAST.gitlab-ci.yml
